.JoinPage{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    /* border: 2px solid #fff; */
    /* height: 50%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.JoinContainer > img {
    width: 10vmax;
}

.JoinContainer > h1{
    color: #fff;
    font-size: 2.5vmax;
    font-family: "Roboto";
    border-bottom: 0.2vmax solid #fff;
    text-align: center;
    padding: 1vmax;
    width: 30vmax;
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
}

.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: #fff;
    outline: none;
    font-size: 1.2vmax;
    background-color: crimson;
    box-sizing: border-box;
    transition: all .3s;
    cursor: pointer;
}

/* .joinbtn:hover{

} */